@image-prefix-cls: ~"@{css-prefix}image";

.@{image-prefix-cls} {
    position: relative;
    display: inline-block;
    &-img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}